<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>InstructionsHeaderCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>• Back Button(triangle): press to go back to previous app (if on homescreen, it will go to last app used). &quot;Double tap&quot; to hide the Back Button.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>• Home Button(circle): simulates a home button press (&quot;double tap&quot; to open app switcher, &quot;hold&quot; to activate Siri).</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>• Switcher Button(square): opens the app switcher (hold to clear all apps).</string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
