<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>ActionBarHeaderCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Choose an action to show the Action Bar.</string>
			<key>footerAlignment</key>
			<string>1</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Activation Methods</string>
			<key>isController</key>
			<true/>
			<key>bundle</key>
			<string>LibActivator</string>
			<key>activatorListener</key>
			<string>com.orca.andriosbar</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Always show the Action Bar, in App and on Homescreen.</string>
			<key>footerAlignment</key>
			<string>1</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>customSwitch</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.orca.andrios</string>
			<key>key</key>
			<string>alwaysShow</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>com.orca.andrios/saved</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Push the screen up to fit the Action Bar.</string>
			<key>footerAlignment</key>
			<string>1</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>customSwitch</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.orca.andrios</string>
			<key>icon</key>
			<string>pushScreen.png</string>
			<key>key</key>
			<string>pushScreen</string>
			<key>label</key>
			<string>Push Screen Up (Beta)</string>
			<key>PostNotification</key>
			<string>com.orca.andrios/saved</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Hide the Action Bar whenever an app is opened.</string>
			<key>footerAlignment</key>
			<string>1</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>customSwitch</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.orca.andrios</string>
			<key>icon</key>
			<string>hideifopened.png</string>
			<key>key</key>
			<string>hideifopened</string>
			<key>label</key>
			<string>Hide When App is Opened</string>
			<key>PostNotification</key>
			<string>com.orca.andrios/saved</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Hide the Action Bar whenever the app switcher is opened.</string>
			<key>footerAlignment</key>
			<string>1</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>customSwitch</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.orca.andrios</string>
			<key>icon</key>
			<string>hideInSwitcher.png</string>
			<key>key</key>
			<string>hideInSwitcher</string>
			<key>label</key>
			<string>Hide In App Switcher</string>
			<key>PostNotification</key>
			<string>com.orca.andrios/saved</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Switch off to use KitKat style. Respring required.</string>
			<key>footerAlignment</key>
			<string>1</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>customSwitch</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.orca.andrios</string>
			<key>icon</key>
			<string>lollipopstyle.png</string>
			<key>key</key>
			<string>lollipopstyle</string>
			<key>label</key>
			<string>Lollipop Style</string>
			<key>PostNotification</key>
			<string>com.orca.andrios/saved</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Use a dark background on the Lollipop-styled Action Bar. Respring required.</string>
			<key>footerAlignment</key>
			<string>1</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>customSwitch</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.orca.andrios</string>
			<key>icon</key>
			<string>useDarkBG.png</string>
			<key>key</key>
			<string>useDarkBG</string>
			<key>label</key>
			<string>Use Dark Background</string>
			<key>PostNotification</key>
			<string>com.orca.andrios/saved</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>The Action Bar lollipop icons will turn black when an app is opened for visibility. Respring required.</string>
			<key>footerAlignment</key>
			<string>1</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>customSwitch</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.orca.andrios</string>
			<key>icon</key>
			<string>changecolor.png</string>
			<key>key</key>
			<string>changecolor</string>
			<key>label</key>
			<string>Enhance Icon Visibility</string>
			<key>PostNotification</key>
			<string>com.orca.andrios/saved</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.orca.andrios</string>
			<key>detail</key>
			<string>ABInstructionsController</string>
			<key>icon</key>
			<string>ABInstructions.png</string>
			<key>label</key>
			<string>Instructions</string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
