<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>AlternateNCHeaderCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Enable/Disable AlternateNC. Respring required.</string>
			<key>footerAlignment</key>
			<string>1</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>customSwitch</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.orca.andrios</string>
			<key>key</key>
			<string>ancEnabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>com.orca.andrios/saved</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Enable/Disable Lollipop styled notifications in NC and on Lockscreen. Respring required.</string>
			<key>footerAlignment</key>
			<string>1</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>customSwitch</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.orca.andrios</string>
			<key>key</key>
			<string>lsnEnabled</string>
			<key>label</key>
			<string>Lollipop Styled Notifications</string>
			<key>PostNotification</key>
			<string>com.orca.andrios/saved</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Makes notification icons circular. Respring required.</string>
			<key>footerAlignment</key>
			<string>1</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>customSwitch</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.orca.andrios</string>
			<key>key</key>
			<string>roundIcons</string>
			<key>label</key>
			<string>Round Notification Icons</string>
			<key>PostNotification</key>
			<string>com.orca.andrios/saved</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>Change the opacity of the Notifications Cells. Respring required.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>customSwitch</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.orca.andrios</string>
			<key>key</key>
			<string>notifAlphaEnabled</string>
			<key>label</key>
			<string>Notifications Cell Opacity</string>
			<key>PostNotification</key>
			<string>com.orca.andrios/saved</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>defaults</key>
			<string>com.orca.andrios</string>
			<key>key</key>
			<string>notifalpha</string>
			<key>max</key>
			<real>1</real>
			<key>min</key>
			<integer>0</integer>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
			<string>com.orca.andrios/saved</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>Change the opacity of the Notification Center backdrop view. Respring required.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>customSwitch</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.orca.andrios</string>
			<key>key</key>
			<string>bdEnabled</string>
			<key>label</key>
			<string>Backdrop View Opacity</string>
			<key>PostNotification</key>
			<string>com.orca.andrios/saved</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>defaults</key>
			<string>com.orca.andrios</string>
			<key>key</key>
			<string>ncalpha</string>
			<key>max</key>
			<real>1</real>
			<key>min</key>
			<integer>0</integer>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
			<string>com.orca.andrios/saved</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>Replace the Notification Center notification headers with separator lines.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>customSwitch</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.orca.andrios</string>
			<key>key</key>
			<string>replaceNCHeaders</string>
			<key>label</key>
			<string>NC Separators</string>
			<key>PostNotification</key>
			<string>com.orca.andrios/saved</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>Adds a button to the bottom right of the Notification Center that when tapped will clear all notifications.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>customSwitch</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.orca.andrios</string>
			<key>key</key>
			<string>clearButton</string>
			<key>label</key>
			<string>Clear All Notifications Button</string>
			<key>PostNotification</key>
			<string>com.orca.andrios/saved</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.orca.andrios</string>
			<key>detail</key>
			<string>ANInstructionsController</string>
			<key>icon</key>
			<string>ANInstructions.png</string>
			<key>label</key>
			<string>Instructions</string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
