<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>AndriosHeaderCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>Config.png</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ConfigController</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.orca.andrios</string>
			<key>label</key>
			<string>Configuration</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>Support.png</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>AndriosSupportController</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.orca.andrios</string>
			<key>label</key>
			<string>Support</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>Credits.png</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>CreditsController</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.orca.andrios</string>
			<key>label</key>
			<string>Credits</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Andrios © 2015</string>
			<key>footerAlignment</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
