<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>InstructionsHeaderCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>• The Power Menu can be invoked via an Activator gesture or it can replace the stock power down screen. </string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>• The three buttons on the bottom of the Power Menu, allow you to choose:
-Silent Mode (no ringer, no vibration, &amp; lowest volume), -Vibration Mode (just vibration), or -Sound Mode (both ringer and vibration).</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>• Swipe left or right in the dim area around the Power Menu to show alternate options, such as Respring &amp; Reboot buttons.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>• Tap anywhere in the dim area around the Power Menu to dismiss it. </string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
