<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>InstructionsHeaderCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>• The Search Widget can be invoked via Activator or it can be pinned to the Homescreen.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>• Touch and drag to move it anywhere on the screen, and hold the google icon to center it to the middle of the screen.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>• Tap on the search field to bring up the keyboard, and type what you want to search in Google.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>• Press the &quot;Search&quot; key on the keyboard to open your search results in a custom web browser.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>• The bottom toolbar of the web browser provides buttons to go back, go forward, go to the Google homepage, open in Safari, and close the web browser.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>• To resize the web browser, drag any corner of the browser until it fits your needs, then pinch in the middle of the web view to resize the inside.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>• When the editing handles (white tiny circles) are showing you can drag the browser anywhere on the screen, tap on it again to dismiss the handles.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>• Pressing the microphone icon will activate Siri, if you have text in the text field it will send that string to Siri so he/she can respond to it.</string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
