<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>VolumeSliderHeaderCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Replace the stock HUD with the Android volume slider.</string>
			<key>footerAlignment</key>
			<string>1</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>customSwitch</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.orca.andrios</string>
			<key>icon</key>
			<string>volumeSlider.png</string>
			<key>key</key>
			<string>volumeSliderEnabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>com.orca.andrios/saved</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Switch off to use KitKat style. Respring required.</string>
			<key>footerAlignment</key>
			<string>1</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>customSwitch</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.orca.andrios</string>
			<key>icon</key>
			<string>vnewAndroid.png</string>
			<key>key</key>
			<string>vnewAndroid</string>
			<key>label</key>
			<string>Lollipop Style</string>
			<key>PostNotification</key>
			<string>com.orca.andrios/saved</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.orca.andrios</string>
			<key>detail</key>
			<string>VSInstructionsController</string>
			<key>icon</key>
			<string>VSInstructions.png</string>
			<key>label</key>
			<string>Instructions</string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
