<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>InstructionsHeaderCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>• The Volume Slider can invoked by simply changing the volume any way on your iOS Device, as it replaces the stock volume HUD. </string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>• To adjust the volume, drag the circle icon on the HUD.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>• To only show the Volume Slider to adjust volume, turn off &quot;Change With Buttons&quot; in the Sounds section in Settings app.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>• It will auto dismiss once you have finished adjusting the volume. </string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
